# gitignore for dotfiles and configs

.cache/
.cargo/
.config/*
!.config/nvim/

.local/
.mozilla/
.npm/
.rustup/
.var/
.steam/
.volta/
wallpapers/
.docker
.kube
.minikube
.oh-my-zsh
.pki/nssdb
.pyenv
.tmux/plugins/tpm
Documents
Downloads
go/pkg/mod
images
yay-bin
.atuin/bin
.deno
